{{- $custom_style := resources.Get "baidu-hrt.scss" | css.Sass | resources.Minify -}}
<link rel="stylesheet" href="{{ $custom_style.RelPermalink }}">
<div class="baidu-hrt">
  <div class="op_dict_content">
    <a href="https://fanyi.baidu.com/#en/zh/hormone%20replacement%20therapy" target="_blank" class="search-bd">
      <em>hormone replacement therapy</em> - 百度翻译
    </a>
    <div>
      <span class="op_dict3_font24 op_dict3_marginRight">hormone replacement therapy</span><br>
      <span class="op_dict3_font14">英</span>
      <span class="symbols">[ˌhɔːməʊn rɪˈpleɪsmənt θerəpi]</span><br>
      <span class="op_dict3_font14">美</span>
      <span class="symbols">[ˌhɔːrmoʊn rɪˈpleɪsmənt θerəpi]</span>
    </div>
    <div>
      <span class="op_dict_text1 op-dict3-gray">n.</span>
      <div class="op_dict_result"><span>激素替代治疗(缩略形式为HRT)</span></div>
    </div>
    <div>
      <span class="op_dict_text1">[例句]</span>
      <div class="op_dict_result">
        <span><em class="op_dict3_highlight">Hormone replacement therapy</em> is very important and should be instituted early.</span>
        <div>激素替代治疗非常重要，应该及早开始。</div>
      </div>
    </div>
    <div class="op-guide-cont">
      <p class="op_dict3_exectrans"><a target="_blank" href="https://store.steampowered.com/app/1345740"><del>进行更多翻译</del></a></p>
      <div class="op-guide">
        <div class="op-qr-mini"><div class="op-qr"></div></div>
        <a href="https://store.steampowered.com/app/1345740" target="_blank"><del>扫码下载百度翻译APP</del></a>
      </div>
    </div>
  </div>
</div>
<p class="baidu-say">百度说要早点 HRT</p>
