baseURL = "https://mtf.wiki/"
title = "MtF.wiki"
theme = ["mtfwiki-modified", "zdoc"]

defaultContentLanguage = "zh-cn"
defaultContentLanguageInSubdir = true
hasCJKLanguage = true

copyright = "<img src='/new/mtf-wiki-long.svg' style='height:1em;display:inline;vertical-align:baseline;background-color:none;border:none;'/> &copy; 2020-{year} MtF.wiki by <a href='https://project-trans.org/' target='_blank'><img src='/new/project-trans-inline.svg' style='height: 1em;display: inline;vertical-align: baseline;background-color: none;border: none;border-radius: 0;' alt='Project Trans'/></a><br><a href='https://creativecommons.org/licenses/by-sa/4.0/' target='_blank'><img src='https://i.creativecommons.org/l/by-sa/4.0/88x31.png' loading='lazy' alt='CC BY-SA 4.0'></a>"
timeout = "1m"
enableEmoji = true
enableRobotsTXT = true

[pagination]
pagerSize = 13

rssLimit = 100

googleAnalytics = ""

disableKinds = ["taxonomy"]

[params]
hostName = "https://mtf.wiki"
custom_css = [
  "customize.scss"
]
custom_js = [
  "sweetalert.min.js",
  "qrcode.min.js",
  "customize.js"
]

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      hardWraps = false
      unsafe = true
      xHTML = true
  [markup.highlight]
    codeFences = true
    lineNos = true
    lineNumbersInTable = true
    noClasses = false
  [markup.tableOfContents]
    endLevel = 3
    ordered = false
    startLevel = 2

[outputs]
  home = ["HTML", "RSS", "SearchIndex"]

[outputFormats]
  [outputFormats.SearchIndex]
    mediaType = "application/json"
    baseName = "index"
    isPlainText = true
    notAlternative = true

[taxonomies]
  tag = "tags"
