{{- if hasPrefix .Destination "http" -}}
<p class="md__image">
  <img
    src="{{ .Destination }}"
    loading="lazy"
    {{ with .Text}} alt="{{ . }}" {{ end }}
    {{ with .Title}} title="{{ . }}" {{ end }}
  >
</p>
{{- else -}}
{{- $resource := .Page.Resources.Get .Destination | default (resources.Get .Destination) -}}
{{- $destination := .Destination -}}
{{- if $resource -}}{{ $destination = $resource.Permalink }}{{- end -}}
<p class="md__image">
  <img
    src="{{ $destination }}"
    loading="lazy"
    width="{{ $resource.Width }}"
    height="{{ $resource.Height }}"
    {{ with .Text }} alt="{{ . }}" {{ end }}
    {{ with .Title }} title="{{ . }}" {{ end }}
  >
</p>
{{- end -}}