.converter {
  position: relative;
  display: flex;
  flex-direction: column;
}
.converter .original {
  margin: auto;
  align-items: baseline;
}
.converter .converted {
  margin: auto;
}
.converter input,
.converter select {
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1px;
  height: 1.5em;
}
.converter input:focus,
.converter select:focus {
  color: #495057;
  outline: 0;
  border-image: url(/images/shadow-i.png) 30 30 stretch;
  border-image-width: 3px;
  border-image-outset: 0px;
}
.converter input {
  width: 10ex;
}
.converter [hidden] {
  visibility: hidden;
  display: inline-block !important;
}
.converter [disabled] {
  background: #eee;
}
