/**
 * Basic typography style for copy text
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+SC&family=Noto+Sans+JP&family=IBM+Plex+Sans+Thai+Looped&family=IBM+Plex+Sans+Arabic:wght@600&display=swap");

@font-face {
  font-family: LXGWClearGothic;
  src: url("../fonts/LXGWClearGothic-Regular.ttf");
  font-display: swap;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    "IBM Plex Sans Thai Looped", $text-font-stack;
}

[lang="zh-cn"] * {
  font-family: "Noto Sans SC", "Hiragino Sans GB", "华文细黑", "STHeiti",
    "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial,
    "IBM Plex Sans Thai Looped", $text-font-stack;
}
[lang="zh-hant"] * {
  font-family: LXGWClearGothic, "微軟正黑體", "Microsoft JhengHei", "新細明體",
    "PMingLiU", "細明體", "MingLiU", "蘋果儷中黑", "Apple LiGothic Medium",
    "儷黑 Pro", "LiHei Pro Medium", "IBM Plex Sans Thai Looped",
    $text-font-stack;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h2.title,
  .single__contents h1,
  .single__contents h2 {
    font-weight: normal;
  }
}

[lang="ja"] * {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "MS Gothic",
    "ＭＳ ゴシック", "Helvetica Neue", "IBM Plex Sans Thai Looped", Helvetica,
    Arial, $text-font-stack;
}

[lang="ug"] * {
  font-family: "IBM Plex Sans Arabic", "Noto Sans Arabic", $text-font-stack;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

code,
pre {
  font-size: 0.85rem;
  font-family: $code-font-stack;
}

.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 3rem;
}

.h4 {
  font-size: 2.5rem;
}

.h5 {
  font-size: 2rem;
}

.h6 {
  font-size: 1.5rem;
}

.p1 {
  font-size: 1.2rem;
}

.p2 {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}
