.baidu-hrt {
  font-size: 13px;
  border-collapse: collapse;
  border-radius: 12px;
  border: 0;
  margin: 0 16px;
  padding: 12px 16px;
  width: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  .search-bd {
    font-size: 18px;
    color: #2440b3;
    display: inline-block;
    text-decoration: underline;
    em {
      font-style: normal;
      color: #f73131;
      text-decoration: underline;
    }
  }

  .op_dict_content {
    margin-bottom: 1px;
  }

  .op_dict3_marginRight {
    margin-right: 15px;
  }

  .op_dict3_font24 {
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    _height: 28px;
    _line-height: 28px;
  }

  .op_dict3_font20 {
    font-size: 20px;
  }

  .symbols {
    margin-right: 13px
  }

  .op_dict3_font14 {
    font-size: 14px;
    position: relative;
    *top: -2px;
  }

  .op_dict3_font16 {
    font-size: 16px;
    position: relative;
    *top: -2px;
  }

  .op_dict3_highlight {
    color: #c00;
  }

  .op-dict3-gray {
    color: #999;
  }

  .op-guide-cont {
    margin-top: 8.5px;
    display: flex;
    justify-content: space-between;
  }

  .op-guide {
    color: #626675;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .op-guide a {
    color: #626675;
    text-decoration: none;
  }

  .op-guide:hover .op-qr {
    display: block;
  }

  .op-guide:hover a {
    color: #215efb;
  }

  .op-qr-mini {
    width: 14px;
    height: 14px;
    background: url("/images/meme/baidu-hrt.png")
      no-repeat center;
    background-size: cover;
    margin-right: 4px;
    position: relative;
  }

  .op-qr {
    display: none;
    width: 92px;
    height: 92px;
    border-radius: 6px;
    background: url("/images/meme/baidu-hrt.png")
      no-repeat center;
    background-size: 80px;
    background-color: #fff;
    position: absolute;
    top: calc(100% + 9px);
    left: -46px;
    z-index: 2;
    box-shadow: 0 0 5px #d8d8d8;
  }

  .op_dict_result {
    margin-left: 40px;
  }

  .op_dict_text1 {
    float: left;
    min-width: 40px;
    white-space: nowrap;
  }
}

.baidu-say {
  text-align: center;
  text-decoration: line-through;
}
