img.shields-icon {
  display: inline-block;

  vertical-align: text-bottom;
}

a.github-profile {
  display: inline-block;

  vertical-align: middle;
  text-decoration: none !important;

  color: inherit;
  img {
    display: inline-block;

    height: 2em;

    vertical-align: middle;

    border-radius: 50%;
  }
  b {
    margin: 0 1ex;
  }
}

.gh-contribuors {
  display: grid;

  margin: 0 0 1rem;
  padding: 0 1rem;

  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  img {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
  }
}

.csv-table {
  margin: 0;

  white-space: nowrap;
  th {
    text-align: center;
  }
}

.mtf-wiki {
  span:nth-child(1),
  span:nth-child(4) {
    color: #5bcefa;
  }
  span:nth-child(2),
  span:nth-child(3) {
    color: #f6a8b8;
  }
}

.doctor-story {
  display: inline !important;

  height: 6em;

  vertical-align: middle;
}

.user-tag {
  font-weight: 700;
  line-height: 1;

  display: inline-block;

  padding: 0.25em 0.6em 0.4em;

  text-align: center;
  white-space: nowrap;

  border-radius: 10em;
  &.positive {
    color: #fff;
    background-color: #28a745;
  }
  &.negative {
    color: #212529;
    background-color: #ffc107;
  }
}

.sign-off-by {
  text-align: right;
}

.single__contents {
  h2 {
    margin-top: 1.5rem;
  }
  blockquote {
    padding: 0;
  }
}

.single__contents[data-dir="ltr"] {
  a {
    text-decoration: none;
  }
  ol > li,
  ul > li {
    ol > li,
    ul > li {
      margin-left: 1.5rem;
    }
  }
}

.notices {
  padding-left: 0.5em;
  ol,
  ul {
    padding-left: 1rem;
  }
}

p.text-center {
  text-align: center;
}

span.shadow-text {
  color: #252525;
  background-color: #252525;
  text-shadow: none;
  &:hover,
  &:active {
    transition: color 0.13s linear;

    color: #fff;
  }
}

.inline-img {
  display: inline-block !important;

  height: 4em;

  vertical-align: middle;

  border: none !important;
}

.qrcode > img {
  margin: 0;
  border: 0;
}

.trans-flag {
  display: inline-block;

  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;

  vertical-align: -0.1em;

  background: url("/images/trans-flag.svg") no-repeat center / 1em 1em;
}

a.anchor {
  font-size: 0.6em;

  vertical-align: top;

  color: #0594cb;
  &:hover,
  &:focus {
    transition: color 0.15s ease-in;

    color: #96ccff;
  }
}
