<div
    style="font-size: 13px;border-collapse: collapse;border-radius: 12px;border: 0;margin: 0 16px;padding: 12px 16px;width: auto;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);">
    <style>
        .op_dict3_marginRight {
            margin-right: 15px;
        }

        .op_dict3_font24 {
            font-size: 24px;
            height: 24px;
            line-height: 24px;
            _height: 28px;
            _line-height: 28px;
        }

        .op_dict3_font20 {
            font-size: 20px;
        }

        .op_dict3_font14 {
            font-size: 14px;
            position: relative;
            *top: -2px;
        }

        .op_dict3_font16 {
            font-size: 16px;
            position: relative;
            *top: -2px;
        }

        .op_dict3_highlight {
            color: #c00;
        }

        .op-dict3-gray {
            color: #999;
        }

        .op-guide-cont {
            margin-top: 8.5px;
            display: flex;
            justify-content: space-between;
        }

        .op-guide {
            color: #626675;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .op-guide a {
            color: #626675;
            text-decoration: none;
        }

        .op-guide:hover .op-qr {
            display: block;
        }

        .op-guide:hover a {
            color: #215efb;
        }

        .op-qr-mini {
            width: 14px;
            height: 14px;
            background: url("//www.baidu.com/aladdin/tpl/dict3/qr_small.cfcbe075.png") no-repeat center;
            background-size: cover;
            margin-right: 4px;
            position: relative;
        }

        .op-qr {
            display: none;
            width: 92px;
            height: 92px;
            border-radius: 6px;
            background: url("//www.baidu.com/aladdin/tpl/dict3/qr.48ab86f7.png") no-repeat center;
            background-size: 80px;
            background-color: #fff;
            position: absolute;
            top: calc(100% + 9px);
            left: -46px;
            z-index: 2;
            box-shadow: 0 0 5px #d8d8d8;
        }

        .op_dict_result {
            margin-left: 40px;
        }

        .op_dict_text1 {
            float: left;
            min-width: 40px;
            white-space: nowrap;
        }
    </style>
    <div class="op_dict_content" style="margin-bottom: 1px" lang="EN-US" xml:lang="EN-US">
        <a href="https://www.baidu.com/s?wd=hormone" target="_blank"
            style="font-size: 18px;color: #2440b3;display: inline-block;text-decoration: underline;"> <em
                style="font-style: normal; color: #f73131; text-decoration: underline">hormone</em> - 百度翻译 </a>
        <div> <span class="op_dict3_font24 op_dict3_marginRight">hormone</span> <span class="op_dict3_font14">英</span>
            <span style="margin-right: 13px">[ˈhɔːməʊn]</span> <span class="op_dict3_font14">美</span> <span
                style="margin-right: 13px">[ˈhɔːrmoʊn]</span></div>
        <div> <span class="op_dict_text1 op-dict3-gray">n.</span>
            <div class="op_dict_result"><span>激素; 荷尔蒙;</span></div>
        </div>
        <div> <span class="op_dict_text1">[例句]</span>
            <div class="op_dict_result"> <span><em class="op_dict3_highlight">Hormone</em> replacement therapy is very
                    important and should be instituted early.</span>
                <div>激素替代治疗非常重要，应该及早开始。</div>
            </div>
            <div> <span class="op_dict_text1">[其他]</span>
                <div class="op_dict_result"></div><span>复数：hormones</span>
            </div>
        </div>
        <div class="op-guide-cont">
            <p class="op_dict3_exectrans"> <a target="_blank " hidefocus="true "
                    href="https://fanyi.baidu.com/?aldtype=85&keyfrom=alading#en/zh/hormone">进行更多翻译</a> </p>
            <div class="op-guide">
                <div class="op-qr-mini">
                    <div class="op-qr"></div>
                </div> <a href="https://fanyi.baidu.com/download?appchannel=pcalading " target="_blank ">扫码下载百度翻译APP</a>
            </div>
        </div>
    </div>
</div>
<p style="text-align:center;"><del>百度说要早点HRT</del></p>