{{ $caption := .Get "caption" }}
{{ $useHeaderRow := .Get "header" | default true }}
{{ $rows := .Inner | transform.Unmarshal }}
<table style="margin:0;white-space:nowrap">
{{ with $caption }}<caption>{{- . -}}</caption>{{ end }}
{{ if $useHeaderRow -}}
<thead><tr>{{ range (index $rows 0) }}<th style="text-align:center">{{- . -}}</th>{{ end }}</tr></thead>
{{- $rows = after 1 $rows -}}
{{ end -}}
<tbody>
{{ range $rows -}}
<tr>{{ range . }}<td>{{- . -}}</td>{{ end }}</tr>
{{ end -}}
</tbody>
</table>
