a.shields {
  display: inline;
  img {
    display: inline;
    vertical-align: text-bottom;
    border: none;
    border-radius: 0%;
  }
}
a.github-profile {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none !important;
  color: inherit;
  img {
    display: inline-block;
    height: 2em;
    vertical-align: middle;
    border-radius: 50%;
    border: #aaa;
  }
  b {
    margin: 0 1ex;
  }
}
.gh-contribuors {
  display: grid;
  margin: 0 0 1rem;
  padding: 0 1rem;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: #aaa;
  }
}
.csv-table {
  th {
    text-align: center;
  }
  th,
  td {
    min-width: 9ch;
  }
}
.mtf-wiki > {
  .c1 {
    color: #5bcefa;
  }
  .c2 {
    color: #f6a8b8;
  }
  .dot {
    color: #ccc;
  }
}
.doctor-story {
  display: inline !important;
  height: 6em;
  vertical-align: middle;
}
.user-tag {
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  padding: 0.25em 0.6em 0.4em;
  text-align: center;
  white-space: nowrap;
  border-radius: 10em;
  &.positive {
    color: #fff;
    background-color: #28a745;
  }
  &.negative {
    color: #212529;
    background-color: #ffc107;
  }
}
.sign-off-by {
  text-align: right;
}
.single__contents {
  h2 {
    margin-top: 1.5rem;
  }
  blockquote {
    padding: 0;
  }
}
.single__contents[data-dir="ltr"] {
  a {
    text-decoration: none;
  }
  ol > li,
  ul > li {
    ol > li,
    ul > li {
      margin-left: 1.5rem;
    }
  }
}
.notices {
  padding-left: 0.5em;
  ol,
  ul {
    padding-left: 1rem;
  }
}
p.text-center {
  text-align: center;
}
span.shadow-text {
  color: #252525;
  background-color: #252525;
  text-shadow: none;
  &:hover,
  &:active {
    transition: color 0.13s linear;
    color: #fff;
  }
}
.inline-img {
  display: inline-block !important;
  height: 4em;
  vertical-align: middle;
  border: none !important;
}
.qrcode > img {
  margin: 0 1rem 1rem;
  padding: 0 1rem 1rem;
  border: 0;
}
.trans-flag {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  background: url("/images/trans-flag.svg") no-repeat center / 1em 1em;
}
a.anchor {
  font-size: 0.6em;
  vertical-align: top;
  color: #0594cb;
  &:hover,
  &:focus {
    transition: color 0.15s ease-in;
    color: #96ccff;
  }
}
.highlight {
  code,
  pre,
  span {
    font-family: "Courier New", Courier, monospace;
    background-color: transparent !important;
  }
  .lntd code {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.footer__contents {
  text-align: left;
}
div.hidden-photo {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  img {
    transition: filter 0.3s;
    filter: blur(50px);
  }
  .mask {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: opacity 0.3s;
    opacity: 1;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  &.show {
    img {
      filter: blur(0);
    }
    .mask {
      opacity: 0;
    }
  }
}
.gallery {
  display: flex;
  overflow-x: auto;
  padding: 0 1rem;

  gap: 1rem;

  img {
    border-radius: 1rem;
  }
}
.theme {
  &__dark {
    del {
      opacity: 0.7;
    }
    .single {
      &__contents {
        .table-wrapper > table thead {
          background-color: #403e41;
        }
        img {
          background-color: unset;
        }
      }
    }
  }
}
div.watermark {
  display: grid;
}
div.watermark > img {
  grid-area: 1 / 1;
}
div.watermark::after {
  grid-area: 1 / 1;
  content: "仅供参考，勿作他用";
  color: #0000ff;
  font-size: 50px;
  text-align: center;
  align-self: center;
  opacity: 0.3;
  transform: rotate(-45deg);
}

.memorial {
  .home__landing,
  .navbar,
  .footer{
    filter: grayscale(100%);
  }
}
