{{- $message := .Get 0 -}}
{{ if eq $.Site.Language.Lang "zh-cn" }}
{{- $qs := querify "label" "微信" "logo" "WeChat" "message" $message "color" "07C160" "style" "flat-square" -}}
<img class="shields-icon" alt="微信 {{ $message }}" src="https://img.shields.io/static/v1?{{ $qs | safeURL }}" />
{{ else }}
{{- $qs := querify "label" "WeChat" "logo" "WeChat" "message" $message "color" "07C160" "style" "flat-square" -}}
<img class="shields-icon" alt="WeChat {{ $message }}" src="https://img.shields.io/static/v1?{{ $qs | safeURL }}" />
{{ end }}