name: 'pr-markdownlint'

on:
  pull_request_target:
    paths: ['**/*.md']

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Fetch PR branch from fork
        run: gh pr checkout ${{ github.event.number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix run nixpkgs#markdownlint-cli2 -- "**/*.md" --fix
        id: markdownlint
      - uses: tj-actions/verify-changed-files@v20
        id: verify-changed-files
        if: always()
        with:
          fail-if-changed: 'true'
      - uses: parkerbxyz/suggest-changes@v3
        if: failure() && steps.verify-changed-files.outcome == 'failure'
        with:
          comment: 'Please commit the suggested changes from markdownlint.'
          event: 'REQUEST_CHANGES'
